<footer class="page-footer ba-footer">
    <div class="container">
      <div class="row">
        <div class="col l8 m6 s12">
          <h5 class="white-text">Blog App</h5>
          <p class="white-text">We have blogs.</p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Navigation</h5>
          <ul>
            <li><a class="white-text" href="/">Home</a></li>
            <li><a class="white-text" href="/blogs">Blogs</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright susankakinyi
      <span class = "right">A product by <a class="white-text" href="https://suzieakinyi.com" target = "_blank">susanakinyi</a></span>
      </div>
    </div>
  </footer>